#elixirs{
	border-style: solid;
	border-width: thin;
	border-color: #007e7e;
	
	width: 400px;
	
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	
	margin-left: 80px;
	
	background-image: url(images/cocktail.gif);
	background-repeat: repeat-x;
	
	text-align: center;
	float: right;
	   }
#elixirs h2{
	color: black;
	font-family: "Architects Daughter";
	font-size: 1.8em;
	}
#elixirs h3{
	color: #007e7e;
	}
#footer{
	text-align: center;
	margin-top: 32px;
}
.cd{
	font-style: italic;
}
.artist{
	font-weight: bold;
}

.dauFont{
	font-family: "Architects Daughter";
}

#elixirs a:link{
	color: #007e7e;
}
#elixirs a:visited{
	color: red;
}
#elixirs a:hover{
	color: #0d5353;
	background: #f88396;
}
#body a:link{
	color: #007e7e;
}
#body a:visited{
	color: #333333;
}









	